<!-- login form start  -->
<div class=" login-form-section">
    <div class="row login-container d-flex  g-0">
        <div class="col-lg-6">
            <img src="../../../../../assets/image/login-school.jpg" alt="" class="login-form-image">
        </div>
        <div
            class="col-lg-6 col-md-6 col-11  login-form-data-section d-flex flex-column justify-content-center align-items-center">
            <div class="col-lg-8 col-12">
                <div class="form-title-section d-flex justify-content-center mb-2">
                    <h2 class="form-title">Login</h2>
                </div>
                <form [formGroup]="loginFormData">
                    <div class="mb-2 form-item-section ">
                        <label class="form-label">Email <span class="form-error">*</span> </label>
                        <input type="email" class="form-control" formControlName="email">
                        <div class="form-text"
                            *ngIf="!loginFormData.get('email')?.valid && loginFormData.get('email')?.touched">
                            <span *ngIf="loginFormData.get('email')?.errors 
                            && loginFormData.get('email')?.hasError('required') " class="form-error">
                                Email is required!
                            </span>
                            <span
                                *ngIf="loginFormData.get('email')?.errors && loginFormData.get('email')?.hasError('pattern')"
                                class="form-error">
                                Please enter a valid email address
                            </span>
                        </div>
                    </div>
                    <div class="my-4">
                        <label for="exampleInputPassword1" class="form-label">Password <span class="form-error">*</span>
                        </label>
                        <input type="password" class="form-control" formControlName="password">
                        <div class="form-text"
                            *ngIf="!loginFormData.get('password')?.valid && loginFormData.get('password')?.touched">
                            <span *ngIf="loginFormData.get('password')?.errors 
                            && loginFormData.get('password')?.hasError('required') " class="form-error">
                                Password is required!
                            </span>
                            <span *ngIf="loginFormData.get('password')?.errors 
                            && loginFormData.get('password')?.hasError('minlength') " class="form-error">
                                Password must be at least 8 characters
                            </span>
                            <span *ngIf="loginFormData.get('password')?.value.length>=8">
                                <span *ngIf="loginFormData.get('password')?.errors 
                                && loginFormData.get('password')?.hasError('passwordStrength') " class="form-error">
                                    Use at least three types of characters, special characters, uppercase, lowercase and
                                    numbers.
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center my-3">
                        <button type="button" class="btn submit-btn" (click)="submitLoginData()"
                            [disabled]="!loginFormData.valid" routerLink="/user-list">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- login Form End  -->